<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="CapaDatos.Properties.Settings.CN" connectionString="Data Source=SRVDBDESA;Initial Catalog=BDINVENTARIO;User ID=arnold.yovera;Password=P@ssw0rd"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>