<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="CapaPresentacion.Properties.Settings.BDINVENTARIOConnectionString"
            connectionString="Data Source=ARNOLD;Initial Catalog=BDINVENTARIO;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="CapaPresentacion.Properties.Settings.BDINVENTARIOConnectionString1"
            connectionString="Data Source=SRVDBDESA;Initial Catalog=BDINVENTARIO;User ID=arnold.yovera;Password=2017@rnold"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>