USE [INVENTARIO]
GO
/****** Object:  Table [dbo].[AREA]    Script Date: 17/05/2017 18:52:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AREA](
	[COD_AREA] [int] IDENTITY(1,1) NOT NULL,
	[NOM_AREA] [varchar](30) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[COD_AREA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[CATEGORIA]    Script Date: 17/05/2017 18:52:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CATEGORIA](
	[COD_CAT] [int] IDENTITY(1,1) NOT NULL,
	[NOM_CAT] [varchar](30) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[COD_CAT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[CLIENTES]    Script Date: 17/05/2017 18:52:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CLIENTES](
	[COD_CLIENTE] [int] IDENTITY(1,1) NOT NULL,
	[NOMBRES] [varchar](50) NOT NULL,
	[APELLIDOS] [varchar](50) NOT NULL,
	[EMAIL] [varchar](60) NULL,
	[ANEXO] [char](4) NULL,
	[COD_AREA] [int] NULL,
	[COD_EMPRESA] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[COD_CLIENTE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[DETALLE_ORDEN]    Script Date: 17/05/2017 18:52:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DETALLE_ORDEN](
	[COD_DETORD] [int] IDENTITY(1,1) NOT NULL,
	[CANTIDAD] [int] NOT NULL,
	[PRECIO] [decimal](18, 0) NOT NULL,
	[TOTAL] [decimal](18, 0) NOT NULL,
	[COD_ORDEN] [int] NULL,
	[COD_PRODUCTO] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[COD_DETORD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[EMPRESA]    Script Date: 17/05/2017 18:52:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EMPRESA](
	[COD_EMPRESA] [int] IDENTITY(1,1) NOT NULL,
	[NOM_EMPRESA] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[COD_EMPRESA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ORDEN]    Script Date: 17/05/2017 18:52:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ORDEN](
	[COD_ORDEN] [int] IDENTITY(1,1) NOT NULL,
	[FECHA] [date] NOT NULL,
	[COD_CLIENTE] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[COD_ORDEN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[PRODUCTOS]    Script Date: 17/05/2017 18:52:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PRODUCTOS](
	[COD_PRODUCTO] [int] IDENTITY(1,1) NOT NULL,
	[NOM_PRODUCTO] [varchar](30) NOT NULL,
	[MARCA] [varchar](30) NOT NULL,
	[MODELO_PLACA] [varchar](30) NULL,
	[SERIE] [varchar](50) NOT NULL,
	[PROCESADOR] [varchar](20) NULL,
	[DD] [varchar](20) NULL,
	[RAM] [varchar](20) NULL,
	[SO] [varchar](20) NULL,
	[IMAGEN] [image] NULL,
	[ESTADO] [int] NOT NULL,
	[DESCRIPCION] [varchar](50) NULL,
	[STOCK] [int] NOT NULL,
	[FECHA] [date] NOT NULL,
	[COD_CAT] [int] NULL,
	[COD_CLIENTE] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[COD_PRODUCTO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[USUARIO]    Script Date: 17/05/2017 18:52:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[USUARIO](
	[COD_USU] [int] IDENTITY(1,1) NOT NULL,
	[NOM_USU] [varchar](30) NOT NULL,
	[CONTRA] [nvarchar](20) NOT NULL,
	[TIPO] [int] NOT NULL,
	[ESTADO] [int] NOT NULL,
 CONSTRAINT [PK__USUARIO__2F8330BE787EE5A0] PRIMARY KEY CLUSTERED 
(
	[COD_USU] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
ALTER TABLE [dbo].[CLIENTES]  WITH CHECK ADD  CONSTRAINT [FK_AREA] FOREIGN KEY([COD_AREA])
REFERENCES [dbo].[AREA] ([COD_AREA])
GO
ALTER TABLE [dbo].[CLIENTES] CHECK CONSTRAINT [FK_AREA]
GO
ALTER TABLE [dbo].[CLIENTES]  WITH CHECK ADD  CONSTRAINT [FK_EMPRESA] FOREIGN KEY([COD_EMPRESA])
REFERENCES [dbo].[EMPRESA] ([COD_EMPRESA])
GO
ALTER TABLE [dbo].[CLIENTES] CHECK CONSTRAINT [FK_EMPRESA]
GO
ALTER TABLE [dbo].[DETALLE_ORDEN]  WITH CHECK ADD  CONSTRAINT [FK_DET_ORDEN] FOREIGN KEY([COD_ORDEN])
REFERENCES [dbo].[ORDEN] ([COD_ORDEN])
GO
ALTER TABLE [dbo].[DETALLE_ORDEN] CHECK CONSTRAINT [FK_DET_ORDEN]
GO
ALTER TABLE [dbo].[DETALLE_ORDEN]  WITH CHECK ADD  CONSTRAINT [FK_DET_ORDEN1] FOREIGN KEY([COD_PRODUCTO])
REFERENCES [dbo].[PRODUCTOS] ([COD_PRODUCTO])
GO
ALTER TABLE [dbo].[DETALLE_ORDEN] CHECK CONSTRAINT [FK_DET_ORDEN1]
GO
ALTER TABLE [dbo].[ORDEN]  WITH CHECK ADD  CONSTRAINT [FK_ORDEN] FOREIGN KEY([COD_CLIENTE])
REFERENCES [dbo].[CLIENTES] ([COD_CLIENTE])
GO
ALTER TABLE [dbo].[ORDEN] CHECK CONSTRAINT [FK_ORDEN]
GO
ALTER TABLE [dbo].[PRODUCTOS]  WITH CHECK ADD  CONSTRAINT [FK_CATEGORIA] FOREIGN KEY([COD_CAT])
REFERENCES [dbo].[CATEGORIA] ([COD_CAT])
GO
ALTER TABLE [dbo].[PRODUCTOS] CHECK CONSTRAINT [FK_CATEGORIA]
GO
ALTER TABLE [dbo].[PRODUCTOS]  WITH CHECK ADD  CONSTRAINT [FK_CLIENTE] FOREIGN KEY([COD_CLIENTE])
REFERENCES [dbo].[CLIENTES] ([COD_CLIENTE])
GO
ALTER TABLE [dbo].[PRODUCTOS] CHECK CONSTRAINT [FK_CLIENTE]
GO
/****** Object:  StoredProcedure [dbo].[ACTUALIZAR_AREA]    Script Date: 17/05/2017 18:52:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[ACTUALIZAR_AREA]
@COD_AREA INT,
@NOM_AREA VARCHAR(30)
as
UPDATE AREA SET 
NOM_AREA=@NOM_AREA
WHERE COD_AREA=@COD_AREA

GO
/****** Object:  StoredProcedure [dbo].[ACTUALIZAR_CATEGORIA]    Script Date: 17/05/2017 18:52:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[ACTUALIZAR_CATEGORIA]
@COD_CAT INT,
@NOM_CAT VARCHAR(30)
as
UPDATE CATEGORIA SET 
NOM_CAT=@NOM_CAT
WHERE COD_CAT=@COD_CAT

GO
/****** Object:  StoredProcedure [dbo].[ACTUALIZAR_CLIENTE]    Script Date: 17/05/2017 18:52:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[ACTUALIZAR_CLIENTE]
@COD_CLI INT,
@NOM VARCHAR(50),
@APE VARCHAR(50),
@EMAIL VARCHAR(50),
@ANEXO CHAR(4),
@COD_AREA INT,
@COD_EMPRESA INT
AS
UPDATE CLIENTES SET 
NOMBRES=@NOM,
APELLIDOS=@APE,
EMAIL=@EMAIL,
ANEXO=@ANEXO,
COD_AREA=@COD_AREA,
COD_EMPRESA=@COD_EMPRESA
WHERE COD_CLIENTE=@COD_CLI;
GO
/****** Object:  StoredProcedure [dbo].[ACTUALIZAR_EMPRESA]    Script Date: 17/05/2017 18:52:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[ACTUALIZAR_EMPRESA]
@COD_EMP INT,
@NOM VARCHAR(50)
as
UPDATE EMPRESA SET 
NOM_EMPRESA=@NOM
WHERE COD_EMPRESA=@COD_EMP

GO
/****** Object:  StoredProcedure [dbo].[ACTUALIZAR_PRODUCTO]    Script Date: 17/05/2017 18:52:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[ACTUALIZAR_PRODUCTO]
@COD_PRODUCTO INT,
@nom_pro varchar(30),
@marca varchar(30),
@mod_placa varchar(30),
@serie varchar(50),
@proc varchar(20),
@dd varchar(20),
@ram varchar(20),
@so varchar(20),
@imagen image,
@estado int,
@descripcion varchar(50),
@stock int,
@fecha date,
@cod_cat int,
@cod_cliente int
as
UPDATE PRODUCTOS SET 
nom_producto=@nom_pro,
marca=@MARCA,
modelo_placa=@mod_placa,
serie=@SERIE,
procesador=@PROC,
dd=@DD,
ram=@RAM,
so=@SO,
imagen=@IMAGEN,
estado=@ESTADO,
descripcion=@descripcion,
stock=@STOCK,
fecha=@fecha,
cod_cat=@cod_cat,
cod_cliente=@cod_cliente
WHERE COD_PRODUCTO=@COD_PRODUCTO;

GO
/****** Object:  StoredProcedure [dbo].[ACTUALIZAR_USUARIO]    Script Date: 17/05/2017 18:52:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[ACTUALIZAR_USUARIO]
@COD_USU INT,
@NOM_USU VARCHAR(30),
@CONTRA VARCHAR(20),
@TIPO INT,
@ESTADO INT
as
UPDATE USUARIO SET 
NOM_USU=@NOM_USU,
CONTRA=@CONTRA,
TIPO=@TIPO,
ESTADO=@ESTADO
WHERE COD_USU=@COD_USU

GO
/****** Object:  StoredProcedure [dbo].[ELIMINAR_AREA]    Script Date: 17/05/2017 18:52:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ELIMINAR_AREA]
@COD_AREA INT
AS
DELETE FROM AREA WHERE COD_AREA=@COD_AREA;
GO
/****** Object:  StoredProcedure [dbo].[ELIMINAR_CATEGORIA]    Script Date: 17/05/2017 18:52:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ELIMINAR_CATEGORIA]
@COD INT
AS
DELETE FROM CATEGORIA WHERE COD_CAT=@COD;
GO
/****** Object:  StoredProcedure [dbo].[ELIMINAR_CLIENTE]    Script Date: 17/05/2017 18:52:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ELIMINAR_CLIENTE]
@COD_CLI INT
AS
DELETE FROM CLIENTES WHERE COD_CLIENTE=@COD_CLI;
GO
/****** Object:  StoredProcedure [dbo].[ELIMINAR_EMPRESA]    Script Date: 17/05/2017 18:52:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ELIMINAR_EMPRESA]
@COD_EMPRESA INT
AS
DELETE FROM EMPRESA WHERE COD_EMPRESA=@COD_EMPRESA;
GO
/****** Object:  StoredProcedure [dbo].[ELIMINAR_PRODUCTO]    Script Date: 17/05/2017 18:52:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ELIMINAR_PRODUCTO]
@COD_PROD INT
AS
DELETE FROM PRODUCTOS WHERE COD_PRODUCTO=@COD_PROD;
GO
/****** Object:  StoredProcedure [dbo].[ELIMINAR_USUARIO]    Script Date: 17/05/2017 18:52:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ELIMINAR_USUARIO]
@COD_USU INT
AS
DELETE FROM USUARIO WHERE COD_USU=@COD_USU;
GO
/****** Object:  StoredProcedure [dbo].[INSERTAR_AREA]    Script Date: 17/05/2017 18:52:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[INSERTAR_AREA]
@NOM_AREA VARCHAR(30)
AS 
INSERT INTO AREA(NOM_AREA)
VALUES(@NOM_AREA)

GO
/****** Object:  StoredProcedure [dbo].[INSERTAR_CATEGORIA]    Script Date: 17/05/2017 18:52:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[INSERTAR_CATEGORIA]
@NOM_CAT VARCHAR(max)
AS
INSERT INTO CATEGORIA (NOM_CAT) VALUES(@NOM_CAT)
GO
/****** Object:  StoredProcedure [dbo].[INSERTAR_CLIENTE]    Script Date: 17/05/2017 18:52:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[INSERTAR_CLIENTE]
@NOM VARCHAR(50),
@APE VARCHAR(50),
@EMAIL VARCHAR(50),
@ANEXO CHAR(4),
@COD_AREA INT,
@COD_EMPRESA INT
AS 
INSERT INTO CLIENTES(NOMBRES,APELLIDOS,EMAIL,ANEXO,COD_AREA,COD_EMPRESA)
VALUES(@NOM,@APE,@EMAIL,@ANEXO,@COD_AREA,@COD_EMPRESA)

GO
/****** Object:  StoredProcedure [dbo].[INSERTAR_EMPRESA]    Script Date: 17/05/2017 18:52:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[INSERTAR_EMPRESA]
@NOM_EMPRESA VARCHAR(50)
AS 
INSERT INTO EMPRESA(NOM_EMPRESA)
VALUES(@NOM_EMPRESA)

GO
/****** Object:  StoredProcedure [dbo].[INSERTAR_PRODUCTO]    Script Date: 17/05/2017 18:52:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[INSERTAR_PRODUCTO]
@nom_pro varchar(30),
@marca varchar(30),
@mod_placa varchar(30),
@serie varchar(50),
@proc varchar(20),
@dd varchar(20),
@ram varchar(20),
@so varchar(20),
@imagen image,
@estado int,
@descripcion varchar(50),
@stock int,
@fecha date,
@cod_cat int,
@cod_cliente int
as
insert into PRODUCTOS(nom_producto,marca,modelo_placa,serie,procesador,dd,ram,so,imagen,
estado,descripcion,stock,fecha,cod_cat,cod_cliente) values(@nom_pro,@marca,@mod_placa,@serie,@proc,@dd,@ram,@so,@imagen,@estado,@descripcion,@stock,@fecha,@cod_cat,@cod_cliente)

GO
/****** Object:  StoredProcedure [dbo].[INSERTAR_USUARIO]    Script Date: 17/05/2017 18:52:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[INSERTAR_USUARIO]
@NOM VARCHAR(30),
@CONTRA VARCHAR(20),
@TIPO INT,
@ESTADO INT
AS 
INSERT INTO USUARIO(NOM_USU,CONTRA,TIPO,ESTADO)
VALUES(@NOM,@CONTRA,@TIPO,@ESTADO)


GO
/****** Object:  StoredProcedure [dbo].[LISTAR_USUARIO]    Script Date: 17/05/2017 18:52:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[LISTAR_USUARIO]

AS 
SELECT U.COD_USU,U.NOM_USU,U.TIPO,U.ESTADO FROM USUARIO U
GO
